@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --white: #ffffff;
  --black30: #303030;
  --black46: #464646;
  --gray: #707070;
  --primarycolor: #009fd1;
  --bgcolorlite: #f9f9f9;
}
* {
  box-sizing: border-box;
  margin: 0px;
}
body {
  font-family: "Poppins", sans-serif !important;
  overflow-x: hidden;
}
.bglight {
  background-color: var(--bgcolorlite);
}

.login-page {
  padding: 50px;
}
.overviewformdiv1 {
  margin-top: -45px;
  padding: 0 1rem 0 1rem;
}
.ovfd1_tophead {
  position: relative;
  bottom: -40px;
}
.ovfd1_tophead h2 {
  font-weight: 600;
  font-size: 3rem;
  color: black;
  text-align: center;
  text-transform: capitalize;
}
.ovfd1_tophead p {
  font-weight: 400;
  font-size: 1.2rem;
  color: gray;
  text-align: center;
}
.ovfd1_logopart {
}

.bflogocircleimg {
  width: 100%;
  margin: auto;
  display: block;
}

.mainformdiv2 {
  max-width: 86%;
  border-radius: 8px;
  background-color: white;
  padding: 50px;
  position: relative;
  height: 85vh;
  margin: auto;
  box-shadow: 0px 3px 72px 0px #00000012;
}
.mainformdiv2 h3 {
  font-weight: 500;
  font-size: 2rem;
  color: black;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.mfd2_bottomstickdiv {
  padding: 0 50px;
  position: absolute;
  width: 100%;
  bottom: 25px;
  display: flex;
  justify-content: center;
  left: 0;
  align-items: center;
}
.mfd2_bottomdiv {
  background-color: #f8f8f8;
  padding: 20px;
  width: 100%;
  border-radius: 8px;
}
.controlaccsvg {
  position: absolute;
  left: 70px;
  top: 20px;
}
.controlaccsvg img {
  width: 41.12px;
}
.mainregishere {
  text-align: center;
}
.mainregishere p {
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  text-align: center;
  margin-bottom: 0px;
}
.mainregishere a {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}
.btn-primary {
  color: #fff;
  background-color: var(--primarycolor) !important;
  border-color: var(--primarycolor) !important;
}
.btn {
  height: 55px;
  font-size: 1.2rem !important;
  font-weight: 600 !important;
  width: 100%;
  text-align: center;
  border-radius: 8px !important;
}
a {
  font-size: 20px;
  color: var(--primarycolor) !important;
}
.forgrtpass {
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}
.form-label {
  margin-bottom: 0.2rem !important;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
}
.form-control {
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #f5f5f5 !important;
  border-radius: 8px;
  border: 1px solid #f5f5f5 !important;
  padding: 20px;
}
input::placeholder {
  color: #b7b7b7 !important;
}
textarea{
  resize: none;
}
.form-control{
  resize: none;
}
.aboutinfo{
  margin-bottom: 20px;
}
.aboutinfo h5{
  font-size: 16px;
}
.aboutinfo h2{
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 10px;
}
textarea::-webkit-input-placeholder {
  color: #b7b7b7 !important;
}

textarea:-moz-placeholder { /* Firefox 18- */
 color: #b7b7b7 !important;  
}

textarea::-moz-placeholder {  /* Firefox 19+ */
 color: #b7b7b7 !important; 
}

textarea:-ms-input-placeholder {
  color: #b7b7b7 !important; 
}

textarea::placeholder {
 color: #b7b7b7 !important; 
}
.loginhei {
  height: 100vh;
}
.prel {
  position: relative;
}
.field-icon {
  position: absolute;
  top: 36px;
  right: 10px;
  color: #c2c2c2;
  font-size: 17px !important;
}
.form-check-label {
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.form-check-label a {
  font-size: 20px !important;
  font-weight: 600;
  color: black !important;
}
.form-check-input:checked {
  background-color: var(--primarycolor) !important;
  border-color: #ffffff !important;
}
.profileeditflex{
margin-bottom: 50px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;
}
.profedit{
  /* margin-bottom: 20px; */
  position: relative;
}
.profedit h2{
  font-size: 30px;
  margin-left: 2px;
}
.dpartst{
  width: 75px !important;
      border: 2px solid #345A71 !important;
}
.btnoutline{
  color: #009FD1;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 29px;
  border: 2px solid #CFCFCF;
  padding: 6px 20px;
  margin-bottom: 20px;
}
.editprofico{
background-color: #FFFFFF;
padding: 3px 5px;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    left: 48px;
}
.editproimg{
  width: 18px !important;
  border: unset !important;
}


@media (max-width: 1600px) {
  .ovfd1_tophead h2 {
    font-size: 1.6rem;
  }
  .ovfd1_tophead p {
    font-size: 1rem;
  }
  .mainformdiv2 h3 {
    font-size: 1.6rem;
  }
  .form-label {
    font-size: 1rem;
  }
  .forgrtpass {
    font-size: 1rem;
  }
  .btn {
    height: 46px;
    font-size: 1rem !important;
  }
  .mainformdiv2 {
    padding: 25px;
    height: 90vh;
  }
  .mfd2_bottomstickdiv {
    padding: 25px;
    bottom: 0px;
  }
  .mfd2_bottomstickdiv p {
    font-size: 0.8rem;
    margin-bottom: -5px;
  }
  .mainregishere a {
    font-size: 0.8rem;
  }
  .controlaccsvg img {
    width: 35.12px;
  }
  .controlaccsvg {
    position: absolute;
    left: 40px;
    top: 50px;
  }
  .login-page {
    padding: 35px 0px 0px 0px;
  }
  .overviewformdiv1 {
    margin-top: -40px;
  }
  .form-check-label {
    font-size: 14px;
    font-weight: 500;
    color: black;
  }
  .form-check-label a {
    font-size: 14px !important;
    font-weight: 500;
    color: black !important;
  }
}

@media (max-width: 845px) {
  .ovfd1_tophead h2 {
    font-size: 1.4rem;
  }
  .ovfd1_tophead p {
    font-size: 0.8rem;
  }
  .ovfd1_logopart {
    margin-top: 5rem;
  }
  .overviewformdiv1 {
    margin-top: -30px;
  }
}
.bflogocircleimgmbl {
  display: none;
}
@media (max-width: 768px) {
  .ovfd1_logopart {
    display: none;
  }
  .bflogocircleimgmbl {
    display: block;
    width: 186px;
    margin: auto;
  }
  .overviewformdiv1 {
    margin-top: 0px;
  }
  .ovfd1_tophead {
    position: relative;
    bottom: 0px;
    margin: 25px 0;
  }
  .mfd2_bottomstickdiv {
    padding: 25px;
  }
  .login-page {
    padding: 25px 0px 9rem 0px;
  }
  .mainformdiv2 {
    margin-bottom: 25px;
    height: 100%;
  }
  .mainformdiv2 form {
    margin-bottom: 7rem;
  }
  .loginhei {
    height: 100%;
  }
  .profedit{
  margin-bottom: 20px;
}
}
@media (max-width: 500px) {
  .ovfd1_tophead h2 {
    font-size: 20px;
    margin-bottom: 2px;
  }
  .ovfd1_tophead p {
    font-size: 12px;
  }
  .mainformdiv2 {
    width: 90%;
  }
  .mainformdiv2 h3 {
    font-size: 20px;
    margin-bottom: 1.5rem;
  }
  .form-label {
    font-size: 14px;
  }
  .form-control {
    font-size: 12px !important;
  }
  .forgrtpass {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .btn {
    height: 39px;
    font-size: 14px !important;
  }
  .mainformdiv2 {
    padding: 15px;
  }
  .controlaccsvg img {
    width: 24px;
  }
  .mfd2_bottomstickdiv p {
    font-size: 12px !important;
  }
  .mfd2_bottomstickdiv a {
    font-size: 12px !important;
  }
  .mfd2_bottomstickdiv {
    padding: 15px;
    bottom: 5px;
  }
  .mfd2_bottomdiv {
    padding: 15px;
  }
  .controlaccsvg {
    position: absolute;
    left: 30px;
    top: 35px;
  }
  .login-page {
    padding: 25px 0px 2rem 0px;
  }
  .field-icon {
    top: 36px;
    right: 10px;
    font-size: 14px !important;
  }
  .form-check-label {
    font-size: 12px;
  }
  .form-check-label a {
    font-size: 12px !important;
  }
}
.form-control:focus {
  box-shadow: 0 0 0 0rem rgb(13 110 253 / 0%) !important;
}

.btn:focus {
  box-shadow: 0 0 0 0rem rgb(49 132 253 / 0%) !important;
}
.form-check-input:focus {
  box-shadow: 0 0 0 0rem rgb(49 132 253 / 0%) !important;
}

/* Sidebar Nav */
.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 225px;
  max-width: 225px;
  min-height: 100vh;
}

#sidebar.active {
  margin-left: -225px;
}
#sidebar {
  background: #324b54;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 2px 20px;
  background: #324b54;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid hsl(0deg 0% 100% / 30%);
}
.sidebar-header button {
  padding: 0px !important;
  margin: 0px;
  height: auto !important;
  width: auto !important;
}
.sidebar-header button img {
  width: 22px;
}
.sidebar-header a img{
  width: 100%;
}

#sidebar ul.components {
  padding: 20px 0 6px 0;
  border-bottom: 1px solid hsl(0deg 0% 100% / 30%);
  margin-bottom: 0px !important;
}

#sidebar ul p {
  color: #fff9;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

#sidebar ul li a {
  padding: 6px 10px;
  font-size: 16px;
  display: block;
  color: #fff !important;
  text-decoration: none;
  margin: 0 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#sidebar ul li {
  margin-bottom: 6px;
}
.iconnavside {
  width: 46px;
  height: 46px;
  display: block;
  background-color: #ffffff1a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.iconnavside img {
  width: 20px;
}
#sidebar ul li.active > a {
  color: var(--primarycolor) !important;
  background: #ffffff1a !important;
}
#sidebar ul li.active > a span {
  background: var(--primarycolor) !important;
}
.navundernav {
  display: flex;
  padding: 6px 18px;
}
.navundernav .dropdown-toggle {
  margin: 0px !important;
  padding: 6px 0px !important;
}
.w100 {
  width: 100%;
}
.navundernav .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border: 0px solid !important;
  font-family: FontAwesome;
  content: "\f107";
}
.listnavbar ul a {
  font-size: 14px !important;
  padding-left: 0px !important;
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  margin-left: 0px !important;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.folowinglist {
}
.flistsubfollowing {
  padding: 6px 18px;
  display: FLEX;
  justify-content: space-between;
  align-items: CENTER;
}
.flistsubfollowing a {
  font-size: 18px;
  color: #fff !important;
  text-decoration: none;
}
.flistsubfollowing a img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 8px;
}
.livered {
  background-color: red;
  width: 13px;
  height: 13px;
  display: block;
  border-radius: 50%;
  margin-right: 10px;
}
.folowinglist span {
  font-size: 14px;
  display: FLEX;
  justify-content: space-between;
  align-items: CENTER;
}
.sidebarfooter {
  padding: 20px 20px;
}
.sidebarfooter p {
  font-size: 16px;
  color: #fff9 !important;
  font-weight: 400;
}
#content {
  width: 100%;
}
.topbarnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 25px;
  background-color: #fff;
}
.sideprofdash {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.iconnoti2 {
  width: 48px;
  height: 48px;
  display: block;
  background-color: #345a711a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  text-decoration: none;
  position: relative;
}
.iconlogoutbg{
 background-color: rgb(255 71 71 / 10%);
}
.iconnoti2 .fa {
  color: #345a71;
}
.iconnoti2 img {
  width: 20px;
}
.iconlivevideo {
  width: 44px;
  height: 44px;
  display: block;
  background-color: #345a71;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  text-decoration: none;
}
.iconlivevideo img {
  width: 20px !important;
  border: 0px solid !important;
}
.iconprof {
  width: 58px;
  height: 58px;
  display: block;
  background-color: #345a711a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  text-decoration: none;
  position: relative;
}
.noticircle{
background-color: #F7931A;
width: 22px;
height: 22px;
border-radius: 50%;
display: block;
    position: absolute;
    border: 4px solid #fff;
    top: -4px;
    right: -4px;
}
.iconprof .icoimg1 {
  width: 18px;
}
.iconprof img {
  width: 28px;
}

.imgprof {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 5px solid #CFCFCF;
}
.imgprofnoborder{
border: unset !important;
}
.logomblshowme {
  display: none;
}
.searchdesk .input-group input {
  background-color: #a1a1a12e !important;
  border-radius: 8px 0px 0px 8px !important;
  border: 0px solid !important;
  width: 500px;
}
.btnpri2 {
  background-color: #345a71 !important;
  border: 0px solid #345a71 !important;
  border-radius: 0px 8px 8px 0px !important;
  padding: 5px 16px !important;
}
.colorwhite {
  color: #fff !important;
}
.input-group > .form-control:focus {
  z-index: 1;
}
.hellosidebtn {
  display: none !important;
}
.diswhenhidesb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.search2topmbl {
  display: none;
}
.headerimg img {
  width: 100%;
}
.profilesection {
  padding: 30px 50px;
}
.proffull {
}
.proftop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.flowmediv {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.imgprof1 {
  margin-right: 10px;
}
.imgprof1 img {
  width: 102px;
  border: 2px solid red;
  border-radius: 50%;
}
.profmeta {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.profmeta h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 0px;
}
.profmeta p {
  font-size: 20px;
  font-weight: 400;
  color: #00000080;
  margin-bottom: 5px;
}
.profmeta span {
  font-size: 14px;
  background-color: red;
  padding: 3px 6px;
  border-radius: 8px;
  display: inline;
  color: #fff;
}
.bt-outprimary {
  color: #fff !important;
  background-color: var(--primarycolor) !important;
  border-radius: 28px !important;
  width: auto;
  height: auto;
  padding: 6px 16px !important;
  margin-right: 10px;
}
.profabout {
  padding: 20px 0;
}
.profabout h4 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.profabout p {
  font-size: 24px;
  font-weight: 400;
  color: rgb(0 0 0 / 60%);
}
.socialfollow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.livevideopart {
  position: relative;
}
.livevideopart img {
  width: 100%;
  position: relative;
  border-radius: 8px;
}
.showlivevideo {
  font-size: 14px;
  background-color: #b7b7b7;
  border-radius: 8px;
  padding: 2px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 20px;
}
.showlivevideo span {
  width: 14px;
  height: 14px;
  background-color: red;
  border-radius: 50%;
  display: block;
  margin-right: 4px;
}
.livevideometa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 20px;
}
.metaprofnam {
  display: flex;
  align-items: center;
}
.livevideometa img {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  border: 1px solid #fff;
}
.livevideometa h2 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 0px;
}
.livevideometa p {
  font-size: 18px;
  color: rgb(255 255 255 / 70%);
  margin-bottom: 0px;
}
.pastsessions {
  padding: 30px 50px;
}
.pastsessions h2 {
  font-size: 42px;
  margin-bottom: 1.2rem;
  font-weight: 700;
}
.pastsessionsli {
  margin-bottom: 20px;
}
.pastsessionsli img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}
.pastsessionsli a {
  text-decoration: none;
}
.pastsessionsli h3 {
  font-size: 20px;
  margin-bottom: 0px;
  color: #000 !important;
}
.pastsessionsli p {
  font-size: 18px;
  color: rgb(0 0 0 / 60%) !important;
  margin-bottom: 0px;
}
.border2 {
  border: 4px solid #345a71 !important;
}
.prel {
  position: relative;
}
.editprofimg {
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 3px 29px 0px #00000012;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -5px;
  right: 0px;
}
.editprofimg .fa {
  color: #00000080;
  font-size: 18px;
}
.folowerslist {
  max-width: 680px;
  padding: 16px 18px;
}
.folowerslist p {
  font-size: 20px;
  text-transform: uppercase;
}
.colorlightp {
  color: #00000080;
}
.flistsubfollowers {
  display: FLEX;
  justify-content: space-between;
  align-items: CENTER;
  margin-bottom: 15px;
}
.flistsubfollowers a {
  text-decoration: none;
}
.flistsubfollowers img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 12px;
}
.flistsubfollowers h2 {
  font-size: 24px;
  margin-bottom: 0px;
}
.flistsubfollowers span {
  font-size: 20px;
}
.colorblack {
  color: #000 !important;
}
.fw600 {
  font-weight: 600;
}
.Followedbtn {
  color: var(--primarycolor) !important;
  background-color: #fff !important;
  border-radius: 28px !important;
  width: auto;
  height: auto;
  border: 2px solid var(--primarycolor) !important;
  padding: 5px 16px !important;
  margin-right: 10px;
}
.dflex {
  display: flex;
  align-items: center;
}
.nav-link {
  transition: color 0s ease-in-out, background-color 0s ease-in-out,
    border-color 0s ease-in-out !important;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: inherit !important;
  background-color: inherit !important;
  border-color: #dee2e6 transparent #345a71;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 4px solid !important;
  border-radius: 8px 8px 0 0 !important;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: transparent transparent #345a71 !important;

  isolation: isolate;
}
.dflex-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.livesessionsul {
}
.livesessionsul ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  padding-left: 0px;
  flex-wrap: wrap;
}
.livesessionsul li {
  width: 20%;
}
.livesesspad {
  padding: 10px 30px 10px 0;
}
.livesessimg img {
  width: 100%;
  border-radius: 8px;
}
.livesessline {
  position: relative;
}
.livesessred span {
  background-color: #f74a4a !important;
}
.livesessred span::after {
  background-color: #f74a4a !important;
}
.livesessline span {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #b0b8bb;
  display: block;
  margin: auto;
}
.livesessline span::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #b0b8bb;
  display: block;
  position: absolute;
  top: 12px;
}
.livesessionsul li:last-child > .livesessline span::after {
  width: 0% !important;
}
/* .livesessionsul li:last-child > .livesesspad{
  padding: 10px 0px !important;
} */
.metalivesess h2 {
  font-size: 20px !important;
  text-align: center;
  margin-bottom: 0px;
}
.metalivesess span {
  font-size: 20px;
  color: red;
  text-align: center;
  display: block;
  margin-bottom: 0px;
}
.metalivesess p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 0px;
}
.bglite2{
  background-color: #F5F5F5 !important;
}
.editprofilemain{
  margin: 30px;
  background-color: #fff;
  padding: 25px;
}
.editproftxt{
margin-bottom: 20px;
}
.editproftxt img {
width: 30px;
margin-right: 10px;
}
.editproftxt h2{
  font-size: 24px;
}
.profinputcos{
  position: relative;
}
.profinputcos span{
 
      color: #b7b7b7 !important;
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    top: 6px;
    right: 12px;
}

.profinputcos1{
  position: relative;
}
.swtichlabd{
  position: absolute;
    top: -15px;
    right: 12px;
}
label.switch {
  --switch-size: 40px;
  --thumb-gap: 4px;
  --thumb-size: calc(var(--switch-size) * 0.55 - var(--thumb-gap));
  --thumb-active-offset: calc(var(--switch-size) / 2);
  --track-radius: calc(var(--switch-size) / 1.6666);
  --thumb-color: #fff;
  --track-color: rgba(0, 0, 0, 0.07);
  --accent-color: #2f57d4;
  --transition: 200ms ease;
}
label.switch .track {
  width: var(--switch-size);
  height: calc(var(--switch-size) / 1.6666);
  background: var(--track-color);
  border-radius: var(--track-radius);
  border-radius: calc(var(--track-radius) / 2);
  display: flex;
  align-items: center;
  box-shadow: inset 0px 0px 4px -2px rgba(0, 0, 0, 0.129);
  transition: 250ms ease;
}
label.switch .thumb {
  display: inline-block;
  background: var(--thumb-color);
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17);
  transform: translateX(var(--thumb-gap));
  transition: transform 250ms ease-in-out;
}
label.switch input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
label.switch input[type=checkbox]:checked + .track {
  background: #34C759;
}
label.switch input[type=checkbox]:checked + .track .thumb {
  transform: translateX(var(--thumb-active-offset));
}
label.switch input[type=checkbox]:focus + .track {
  box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.09);
}
label.switch.has-inidicator .thumb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
label.switch.has-inidicator .thumb:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 6px;
  background: #d71830;
}
label.switch.has-inidicator input[type=checkbox]:checked + .track .thumb:before {
  background: var(--accent-color);
}
label.switch.has-label {
  display: grid;
  grid-template-areas: "col-1 col-2 col-3";
  grid-gap: 10px;
  align-items: center;
}
label.switch.has-label .off {
  color: rgba(0, 0, 0, 0.6);
  grid-area: col-1;
  transition: var(--transition);
}
label.switch.has-label .on {
  color: rgba(0, 0, 0, 0.3);
  grid-area: col-3;
  transition: var(--transition);
}
label.switch.has-label .track {
  grid-area: col-2;
}
label.switch.has-label input[type=checkbox]:checked ~ .on {
  color: rgba(0, 0, 0, 0.6);
}
label.switch.has-label input[type=checkbox]:checked ~ .off {
  color: rgba(0, 0, 0, 0.3);
}
.mt-2{
  margin-top: 20px;
}
.imgshownoti1{
  cursor: pointer;
}
.downprofdiv{
width: 260px;
border-radius: 8px;
background-color: #fff;
padding: 15px;
    position: absolute;
    top: 65px;
    box-shadow: -1px 3px 20px #00000024;
    display: none;
    z-index: 10;
}
.dflexdownprof{
  display: flex;
  align-items: center;
  justify-content: space-between;
      padding: 8px 0;
}
.downprof1{
display: flex;
}
.downprof1 img{
width: 20px;
margin-right: 10px;
}
.downprof1 h2{
font-size: 16px;
margin-bottom: 0px;
color: rgb(0 0 0 / 100%);
}
.downprof1 h2 a{
  text-decoration: none;
  font-size: 16px;
margin-bottom: 0px;
color: #000 !important;
}
.downprof2{

}
.downprof2 p{
  font-size: 14px;
  margin-bottom: 0px;
  color: rgb(0 0 0 / 40%);
}
.downprof2 label{
  position: absolute;
  top: 32px;
  right: 20px;
}
.downprof2 label.switch input[type=checkbox]:checked + .track {
    background: #345A71 !important;
}
.toggle-password {
    float: right;
    cursor: pointer;
    margin-right: 10px;
    margin-top: -28px;
    color: #afafaf !important;
}
.pdrform
{
  padding-right: 35px !important;
}
.emaildiv{
display: flex;
flex-direction: column;
align-items: center;
position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
}
.emaildiv img {
width: 100px;
}
.emaildiv p{
  color: #00000080;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  max-width: 400px;
  margin: 15px auto;
}

.edittopimg{
background-color: #ffffff;
    padding: 10px 13px;
    border-radius: 50%;
    width: 45px;
    position: absolute;
    bottom: 8%;
    right: 3%;
}
.edittopimg img{
  width: 18px;

}
.session-table{
  padding: 20px 25px;
}
.session-table .table > :not(caption) > * > * {
    padding: 0.6rem 0 !important;
    background-color: transparent;
    border-bottom-width: 1px;
}
.session-table .table th {
   color: #00000080;
   font-weight: 500;
   border-bottom: 1px solid #00000038 !important;

}
.session-table .table td {
   font-weight: 500;
   /* display: flex;
   align-items: center; */
}
.session-table .table tr {
  vertical-align: middle;
  /* display: flex; */
}
.table-responsive{
  width: 100%;
  overflow-x: scroll;
}
.session-table .table td img {
  width: 212px;
}
.tblw1{
  width: 250px;
}
.tblw2{
  width: 200px;
}
.tblw3{
  width: 120px;
}
.tblw4{
  width: 120px;
}
.tblw5{
  width: 120px;
}
.tblw6{
  width: 120px;
}
.tblw7{
  width: 120px;
}
.tblw8{
  width: 50px;
}
.norecordfound{
  text-align: center;
  font-size: 17px;
  color: #00000066;
}
.heading-sess{
position: relative;
display: flex;
align-items: center;
justify-content: space-between;
}
.heading-sess span{
color: #00000066;
font-size: 16px;
}
.heading-sess h2{
color: #000000;
font-size: 28px;
font-weight: 600;
}
.sesstxt1{
  display: flex;
  align-items: center;
}
.searchme{
  margin-left: 10px;
  max-width: 250px;
}
.searchme button{
      border: navajowhite;
    background-color: transparent;
    position: absolute;
    right: 8px;
    top: 5px;
}
.searchme button .fa{
     color: #00000066 !important;
}
.searchmeinput {
    border-radius: 8px !important;
}
.sortselect select{
    color: #009FD1 !important;
    background-color: transparent !important;
    border-radius: 20px !important;
    font-size: 14px !important;
}
.Dashboardmain{
  padding: 30px 20px 20px;
}
.mainh2dash{
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
} 
.carddash{
    align-items: center;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    padding: 20px 10px;
    margin-bottom: 12px;
}
.carddash span{
font-size: 20px;
font-weight: 500;
color: #000;
margin-bottom: 0px;
}
.carddash h2{
  font-size: 12px;
color: #8F8F8F;
margin-bottom: 0px !important;
}
.cardicon {
    width: 50px;
    height: 50px;
    text-align: x;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 5px;

}
.cicocolor1 img{
width: 23px;
}
.cicocolor2 img{
width: 21px;
}
.cicocolor3 img{
width: 28px;
}
.cicocolor4 img{
width: 32px;
}
.cicocolor1{
background-color: #FF4848 !important;
padding: 10px 12px;
}
.cicocolor2{
background-color: #009FD1 !important;
padding: 12px;
}
.cicocolor3{
background-color: #FCA431 !important;
padding: 10px !important;
}
.cicocolor4{
background-color: #48AF1A !important;
padding: 12px 10px;
}
.mainplyer{
  padding: 30px 20px 20px;
}
.sesstarth3{
  font-size: 22px;
  font-weight: 500px;
  margin-bottom: 20px;
}
.grpahsdiv{
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px 10px;
    margin-bottom: 15px;
}
.mtgraphtop{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px 20px;
}
.mtgraphtop h2{
  font-size: 23px;
  font-weight: 600;
}
.graphrightflex{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.mr10{
  margin-right: 15px;
}
.form-select:focus {
    border-color: #009FD1 !important;
    outline: 0;
    box-shadow: 0 0 0 0rem rgb(13 110 253 / 0%) !important;
}
.pl0{
  padding-left: 0px !important;
}
.graphrightflex .form-check{
margin-bottom: 6px;
}
.filterperiod{
background-color: #009FD1;
padding: 7px 0.75rem;
border-radius: 20px;
font-size: 14px;
color: #fff !important;
text-decoration: none;
margin-left: 10px;
}
.filterperiod img{
  width: 15px;
  margin-right: 3px;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #000000;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #3F67D8;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #3F67D8;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
#chartdiv {
  width: 100%;
  height: 360px !important;
}
#id-72-title{
  display: none !important;
}
.canvas-con {
  /* display: flex;
  align-items: center;
  justify-content: center;
  min-height: 365px; */
  position: relative;
}
.donutchart1{
  width: 300px !important;
  height: 150px !important;
}
.canvas-con-inner {
  height: 100%;
}

.canvas-con-inner{
  /* display: inline-block; */
  text-align: center;
}

.legend-con {
 margin-top: 20px;
 display: flex;
    align-items: center;
    justify-content: center;

}
.legend-con ul {
  list-style: none;
}
.legend-con li {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.legend-con li div {
  display: flex;
    justify-content: space-between;
    width: 150px;
}
.legend-con li span.chart-legend {
  width: 18px;
    height: 18px;
    margin-right: 10px;
    border-radius: 50%;
    opacity: 0.8;
}
.legend-con li div p{
  display: block;
  margin-bottom: 0px;
}
.plyervideodiv{
margin-bottom: 30px;
    border-bottom: 1px solid #70686826;
    padding: 20px 0;
}
.chatlhead{
background-color: #345A71;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 14px 20px;
}
.chatlhead img{
width: 20px;
margin-right: 10px;
}
.chatlhead h2{
font-size: 15px;
color: #fff;
margin-bottom: 0;
display: inline;
}
.chatlhead span{

}
.chatlhead span .fa{
color: #fff;
}
.mainlivechat{
padding: 14px 15px;
background-color: #fff;
border-bottom-left-radius: 16px;
border-bottom-right-radius: 16px;
max-height: 400px;
overflow-y: auto;
}
.chatmsgbox{
position: relative;
display: flex;
}
.chatmsgbox img{
width: 40px;
height: 40px;
border-radius: 50%;
margin-right: 10px;

}
.chattxth2p{
  
}
.chatmsgbox h2{
font-size: 18px;
margin-bottom: 0px;
font-weight: 600;
}
.chatmsgbox p{
  font-size: 15px;
  color: #00000080;
  line-height: 18px;
  font-weight: 500;

}
.datechat{
color: #00000080;
font-size: 13px;
position: absolute;
right: 0;
}
.livestreamvideo{
  margin-bottom: 20px;
}
.livestreamvideo .iconlivevideo{
  background-color: #00000099 !important;
}
.livestreamvideo .livevideometa{
padding: 12px;
}
.livestreamvideo .iconlivevideo img {
    width: 16px !important;
}
.lsbottomtxt{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 5px;
}
.lsbottomtxt h2{
font-size: 20px;
font-weight: 600;
}
.lsbottomtxt a{
text-decoration: none;
    background-color: #3359701a;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    display: block;
    vertical-align: middle;
    padding: 7px;

}
.lsbottomtxt a .fa{
color: #345A71;
}
.hashtagssv{
margin-top: 10px;
}
.hashtagssv a{
background-color: #324B54;
border-radius: 4px;
color: #fff !important;
text-decoration: none;
margin-right: 3px;
padding: 6px;
font-size: 13px;
}
.smallstvideoclips{
  display: flex;
  margin-top: 10px;
  position:relative;
  overflow-x: auto;
}
.smallstvideoclips div{
margin-right: 5px;
position: relative;
background-color: #000000;
  border-radius: 8px;
  margin-bottom: 4px;
}
.showstreamcv:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 38px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #42b4d7;
}
.smallstvideoclips div img{
  width: 100%;
  height: 38px;
  border-radius: 8px;
  opacity: 0.5;
}
.metalsvideo{
position: absolute;
    bottom: 0px;
    left: 80px;
}
.metalsvideo img{
width: 150px;
height: 80px;
/* border: 1px solid #fff; */
border-radius: 6px;
}
.metalsvideo h2{
color: #fff;
font-size: 16px;
font-weight: 600;
margin-bottom: 0px;
}
.metalsvideo p{
font-size: 13px;
color: #fff;
}

@media(min-width:1600px){
 
  .edittopimg{
    width: 65px;
    padding: 16px 18px;
}
.edittopimg img{
  width: 30px;
}
.artistpanelh2 {
    font-size: 28px;
}
#sidebar {
    min-width: 275px;
    max-width: 275px;
    min-height: 100vh;
}
#sidebar.active {
  margin-left: -275px;
}
}
.artistpanelh2{
  color: #00495C;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0px;
  width: 320px;
}
.sidebtnwidth{
  width: 48px;
}

@media(max-width: 1600px)
{
   .sidebarfooter{
    padding: 15px 10px;
  }
  #sidebar ul li a{
    padding: 6px 4px;
    font-size: 14px;
  }
  #sidebar ul p{
    padding: 0 12px;
    margin-bottom: 8px;
  }
  #sidebar ul.components {
    padding: 12px 0 6px 0;
  }
  .sidebarfooter p {
    font-size: 14px;
  }
  .iconnavside img {
    width: 18px;
}
.iconnavside {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}
.flistsubfollowing a{
  font-size: 14px;
}
.flistsubfollowing a img {
    margin-right: 2px;
}
}

@media (max-width: 500px)
{
  .profinputcos span {
    font-size: 12px !important;
}
.basictxt{
  font-size: 16px;
  margin-bottom: 15px;
}
.editproftxt img {
    width: 22px;
}
.editproftxt h2 {
    font-size: 20px;
}
.swtichlabd{
  top: -17px;
}
label.switch .track {
    width: 35px;
    height: 18px;
}
label.switch .thumb {
    width: 13px;
    height: 13px;
}
.editprofilemain {
    margin: 16px;
}
}
@media(min-width:1600px)
{
  #sidebar ul li a{
    font-size: 18px;
  }
}

@media (max-width: 1600px) {
  .socialfollow {
    position: absolute;
    left: 0px;
    top: 7rem;
  }
  .profabout {
    margin-top: 4rem;
  }
  .livevideometa h2 {
    font-size: 14px;
  }
  .livevideometa p {
    font-size: 12px;
  }
  .profabout p {
    font-size: 18px;
  }
  .pastsessions h2 {
    font-size: 24px;
  }
  .profmeta h2 {
    font-size: 18px;
  }
  .profmeta p {
    font-size: 16px;
  }
  .profmeta span {
    font-size: 14px;
  }
  .profilesection {
    padding: 15px 15px;
  }
  .pastsessions {
    padding: 15px 15px;
  }
  .iconprof {
    width: 44px;
    height: 44px;
  }
  .iconprof .icoimg1 {
    width: 12px;
  }
  .iconprof img {
    width: 20px;
  }
  .folowerslist p {
    font-size: 16px;
  }
  .livesessline span {
    width: 18px;
    height: 18px;
  }
  .livesessline span::after {
    top: 9px;
  }
  .metalivesess h2 {
    font-size: 16px !important;
  }
  .metalivesess span {
    font-size: 16px;
  }
  .metalivesess p {
    font-size: 14px;
  }
}
@media (max-width: 1150px) {
  .profilesection {
    padding: 15px 25px;
  }
  .pastsessions {
    padding: 15px 25px;
  }
  .profmeta h2 {
    font-size: 22px;
  }
  .profmeta p {
    font-size: 14px;
  }
  .profmeta span {
    font-size: 12px;
  }
  .imgprof1 img {
    width: 95px;
  }
  .profilesection .col-md-7 {
    width: 100%;
  }
  .profilesection .col-md-5 {
    width: 100%;
  }
  .pastsessions h2 {
    font-size: 28px;
  }
  .pastsessionsul .col-lg-3 {
    width: 50% !important;
  }

  .livesessionsul li {
    width: 100%;
    display: flex;
    position: relative;
  }
  .livesessimg img {
    padding-left: 30px;
    width: 164px;
  }
  .livesesspad {
    padding: 10px 0px 10px 0;
  }
  .livesessline {
    position: relative;
    left: -165px;
    top: 44px;
  }
  .metalivesess h2 {
    margin-bottom: 0px !important;
    text-align: left;
  }
  .metalivesess span {
    text-align: left;
  }
  .metalivesess p {
    text-align: left;
  }
  .livesessline span::after {
    width: 2px;
    height: 100%;
    left: 8px;
  }
}
@media (max-width: 1020px) {
  .searchdesk .input-group input {
    width: 250px !important;
  }
    .session-table .table tr {
  vertical-align: middle;
  display: flex;
}
.session-table .table td{
  display: flex;
  align-items: center;
}
}
@media (max-width: 768px) {
  #sidebar {
    margin-left: -225px;
  }
  #sidebar .sidebar-header{
    padding: 9px 20px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  .search2topmbl {
    display: flex;
  }

  .hellosidebtn {
    display: inline !important;
  }
  .searchdesk {
    display: none !important;
  }
  .logomblshowme {
    display: inline;
  }
  .logomblshowme img {
    width: 131.36px;
  }
  .bgactive {
    opacity: 0.2;
    background: #000;
    overflow: hidden;
  }
  #sidebar ul li a {
    font-size: 16px;
  }
  .flistsubfollowing a {
    font-size: 16px;
  }
  #sidebar .sidebar-header {
    justify-content: flex-start;
  }
  .sidebar-header a img {
    width: 140px;
  }
  .pastsessions h2 {
    font-size: 24px;
    margin-bottom: 1.2rem;
  }
  .pastsessionsul .col-lg-3 {
    width: 100% !important;
  }
  .emaildiv{
    position: relative;
    top: 0;
    transform: translateY(0px);
        margin: 1.5rem 0 6rem;
  }
  .emaildiv img {
    width: 70px;
}
.emaildiv p {
  font-size: 16px;
  max-width: 350px;
}
.artistpanelh2{
  display: none;
}
}
@media (max-width: 600px) {
  .topbarnav {
    padding: 8px 15px 8px 3px;
  }
  .pastsessions {
    padding: 15px 15px;
  }
  .pastsessions h2 {
    font-size: 24px;
    margin-bottom: 1.2rem;
  }
  .imgprof {
    width: 36px;
    height: 36px;
  }
  .iconnoti2 {
    width: 40px;
    height: 40px;
  }
  .iconnoti2 img {
    width: 18px;
  }
  .iconnoti2 .fa {
    font-size: 18px;
  }
  .profmeta h2 {
    font-size: 16px;
  }
  .profmeta p {
    margin-bottom: 0px;
  }
  .imgprof1 img {
    width: 66px;
  }
  .profabout h4 {
    font-size: 14px;
  }
  .profabout p {
    font-size: 14px;
  }
  .iconprof {
    width: 30px;
    height: 30px;
  }
  .iconprof .icoimg1 {
    width: 9px;
  }
  .iconprof img {
    width: 15px;
  }
  .bt-outprimary {
    padding: 3px 16px !important;
  }
  .socialfollow {
    top: 5rem;
  }
  .profabout {
    margin-top: 2.5rem;
  }
  .profilesection {
    padding: 15px 15px;
  }
  .showlivevideo {
    font-size: 11px;
  }
  .showlivevideo span {
    width: 9px;
    height: 9px;
  }
  .showlivevideo {
    top: 10px;
    left: 10px;
  }
  .livevideometa {
    padding: 10px;
  }
  .iconlivevideo {
    width: 30px;
    height: 30px;
  }
  .iconlivevideo img {
    width: 15px !important;
  }
  .livevideometa img {
    width: 35px;
    height: 35px;
  }
  .livevideometa h2 {
    font-size: 12px;
  }
  .livevideometa p {
    font-size: 10px;
  }
  .pastsessionsli h3 {
    font-size: 14px;
  }
  .pastsessionsli p {
    font-size: 14px;
  }
  .pastsessionsli img {
    margin-bottom: 8px;
  }
  .profmeta span {
    font-size: 10px;
  }
  .editprofimg {
    width: 26px;
    height: 26px;
    bottom: 0px;
  }
  .editprofimg .fa {
    font-size: 14px;
  }
  .folowerslist p {
    font-size: 12px;
  }
  .flistsubfollowers h2 {
    font-size: 14px;
  }
  .flistsubfollowers span {
    font-size: 12px;
  }
  .btn {
    font-size: 14px !important;
  }
  .flistsubfollowers img {
    width: 36px;
    height: 36px;
  }
  .nav-tabs .nav-link {
    font-size: 14px;
  }
  .metalivesess h2 {
    padding-top: 5px;
    font-size: 14px;
  }
  .metalivesess span {
    font-size: 14px;
  }
  .metalivesess p {
    font-size: 12px;
  }
  .livesessline span {
    width: 16px;
    height: 16px;
  }
  .livesessline span::after {
    left: 7px;
  }
  .btnoutline{
    font-size: 16px;
  }
  .edittopimg{
background-color: #ffffff;
    padding: 8px 12px;
    border-radius: 50%;
    width: 40px;
    position: absolute;
    bottom: 8%;
    right: 3%;
}
.edittopimg img{
  width: 18px;
}
.graphrightflex{
  flex-direction: column;
    justify-content: flex-start;
  align-items: flex-start;
}
.mtgraphtop{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.graphrightflex .form-check{
  padding-left: 0px !important;
}
.filterperiod{
  margin-left: 0px;
  margin-top: 6px;
  padding: 7px 18px;
  display: inline-block;
}
#chartdiv{
  height: 180px !important;
}
}
@media(max-width:1000px)
{
  .bottomgraph .col-md-8{
    width: 100% !important;
  }
  .bottomgraph .col-md-4{
    width: 100% !important;
  }
  .topdivsstatus .col-md-3{
    width: 50% !important;
  }
}
@media(max-width:450px){
   .topdivsstatus .col-md-3{
    width: 100% !important;
  }
}